.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  CSS
table.padded-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

 
}

table td,
table th {
  
  padding: 5px;
}
table thead th {
  text-align: left;
}
table thead th:nth-child(0),
table thead th:nth-child(1){
   
    padding: 5px;
}

table thead th:nth-child(2){
  
    padding: 5px;
}
table thead th:nth-child(3){
    
    padding: 5px;
}
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px;
    border: 1px solid #ccc;
    
    padding: 10px;
 position: absolute;
  
  }

  .form-inline input{
      margin: 0px 0px 0px 5px;
  }

  