<p>societer works!</p>
<body>
    <header>
            <div class="topnav">
                    <a href="#">Fichier</a>
                    <a href="#">Edition</a>
                    <a href="#">Actions</a>  
                    <a href="#">Infos</a>  
                    <a href="#">Aide</a> 
            </div>
    </header>
    <section> 
        <div >
        <div class="form-inline">
                <label for="numSocieter">n0 societer:</label>
                <input  id="societer"  name="societer">
        </div>
        <div  >
             <div class="raison-sociale">
                <label for="raison">Raison sociale:</label>
                <input  id="raison"  name="raison">
                <input  id="raison"  name="raison">
                </div>   
                
                <div class="nom-abreger">
                        <label for="NomAbreger">Nom abreger:</label>
                        <input  id="NomAbreger"  name="NomAbreger"> 
                </div>      
                <div class="societer-groupe">
                        <label for="SocieterGroupe">Societe Groupe:</label>
                        <input  id="SocieterGroupe"  name="SocieterGroupe"> 
                 </div>   
                
                </div>   
           
    </section>
    <section> </section>
    <section> </section>

</body>