<p>societer works!</p>
<body>
    <header>
            <div class="topnav">
                    <a href="#">Fichier</a>
                    <a href="#">Edition</a>
                    <a href="#">Actions</a>  
                    <a href="#">Infos</a>  
                    <a href="#">Aide</a> 
            </div>
    </header>
    <section> 
        <div class="form-inline">
                <label for="numSocieter">n0 societer:</label>
                <input  id="societer" placeholder="" name="societer">

        </div>
           
    </section>
    <section> </section>
    <section> </section>

</body>